body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

.container {
	display: flex;
	flex-direction: row;

	background: #ffffff;
	padding: 0; 
	border-radius: 30px;
	box-shadow: 5px 14px 50px rgba(0,0,0,0.30);
	
	overflow: hidden; 
	
	width: 100%;
	max-width: 900px; 
}

.form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	flex: 1;
	padding: 30px; 
}

.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px 40px;
}

.form-title {
	margin-bottom: 20%;
}

.form input {
	background: none;
	color: black;
	font-size: 18px;
	padding: 10px 5px;
	display: block;
	width: 100%;
	border: none;
	border-bottom: 1px solid red;
	position: relative;
	z-index: 1;
	transition: border-radius 0.5s ease, box-shadow 0.5s ease, padding 0.5s ease;
}

.form input:focus {
	padding: 10px 10px;
	border-radius: 7px;
	box-shadow: 0 0 0 1px red;
}

.overlay-container {
	position: relative;
	flex: 1;
	overflow: hidden;
}

.overlay {
	color: #FFFFFF;
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);

	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}
.overlay-panel {
	display: flex;
	flex-direction: column;
	
	align-items: center;
	justify-content: center;
	text-align: center;
	
	padding: 0 40px;
	height: 100%;
}

button {
	background-color: #FF4B2B;
	border: 1px solid #FF4B2B;
	border-radius: 20px;
	color: #ffffff;
	font-size: 15px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 1s ease, background-color 0.5s ease;
}


button:active {
	transform: scale(0.80);
}

button:hover {
	cursor: pointer;
	background-color: #e33b1d;
}

.overlay-panel button {
	background-color: #f1f1f1;
	color:#333;
}

.overlay-panel button:hover {
	cursor: pointer;
	background-color: rgb(255, 204, 195);
}

.hidden-panel {
	display: none;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}